body {
    /* background: #f7f6f6; */
    background: "#f6f7f7";
}

.stepper {
    display: flex;
    margin: 100px;
    padding: 0;
    width: 89%;
    list-style: none;
    position: relative;
    margin-top: 10px;
    height:4.5px;
    margin-bottom: 5%;
    
}

.stepper-text {
    margin-left: 2.5rem;
    margin-top: -0.5rem;
    /* font-family: "Poppins";
    font-weight: "400rem"; */
    font-size: 13px;
    letter-spacing: 2%;
}

.stepper::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    width: calc(100% - 20px);
    /* background: #e7e7e7; */
}

.stepper__item {
    flex: 100%;
   padding: 20px 20px 20px 20px;
    background: #00A3981A;
    margin: 0 0 0 -29px;
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
/* opacity: 100%; */
}

.stepper__item.complete {
    /* background :#06c3b6; */
     background:#00A398;
     margin: 0 0 0 -92px;
}

.stepper__item:first-child {
    padding: 20px;
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
/* .progress-bar{
color: #03A69B1A;
} */